<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qy.mapper.OracleMemberMapper">

   <select id="findById" resultType="com.qy.po.OracleMember" parameterType="java.lang.Long">
     select * from mc_member where id = #{id}
   </select>


    <insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="false">
        <if test="list != null and list.size > 0">
            INSERT INTO mc_member
            (ID,  name, shortName, country, state, city, area, address, postcode, phone,
            fax, email, website, memberType, managerId, catalog, source, ipAddr,
            registerType, proxyRegistrantId, registerTime, lastLoginTime, lastServeTime,
            lastTransferTime, lastTransfer, visible, disabled, isAdd, isTao, benefit, isSave, memberSource, lastAccess,
            OLD_SYSTEM_ID,BUSINESS_TYPE,COMPANY_NATURE,AREA_ID,AREA_CODE,AREA_NAME,CREATOR_ID,CREATOR_NAME,CREATE_TIME,OPERATOR_ID,OPERATOR_NAME,version)
            SELECT MC_MEMBER_SEQ.NEXTVAL,a.* FROM (
            <foreach collection="list" item="item" separator="union all">
                SELECT
                #{item.name}, #{item.shortName}, #{item.country}, #{item.state}, #{item.city}, #{item.area}, #{item.address},
                #{item.postcode},#{item.phone}, #{item.fax}, #{item.email}, #{item.website}, #{item.memberType},
                #{item.managerId}, #{item.catalog}, #{item.source},#{item.ipAddr}, #{item.registerType}, #{item.proxyRegistrantId}, #{item.registerTime},
                #{item.lastLoginTime}, #{item.lastServeTime},
                #{item.lastTransferTime}, #{item.lastTransfer}, #{item.visible}, #{item.disabled}, #{item.isAdd}, #{item.isTao},
                #{item.benefit}, #{item.isSave}, #{item.memberSource}, #{item.lastAccess},
                #{item.oldSystemId}, #{item.businessType}, #{item.companyNature}, #{item.areaId}, #{item.areaCode,jdbcType=VARCHAR},
                #{item.areaName,jdbcType=VARCHAR}, #{item.creatorId}, #{item.creatorName,jdbcType=VARCHAR}, #{item.creatorTime},
                #{item.operatorId}, #{item.operatorName,jdbcType=VARCHAR}, #{item.version}
                FROM dual
            </foreach>
            ) a
        </if>
    </insert>



</mapper>